<h1>Bienvenido! {{user.username}}</h1>
<h2>email: {{user.email}}</h2>
<h3>firstname: {{user.firstname}}</h3>
<h3>lastname: {{user.lastname}}</h3>

<form action="/logout">
        <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Logout">
    </div>
</form>