{{> header}}
<br>
<br>
<form action="/api/productos" method="post">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Nombre Producto</span>
  <input type="text" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre Producto" aria-describedby="basic-addon1"  name="nombre">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Precio" aria-label="Recipient's username" aria-describedby="basic-addon2" name="precio">
  <span class="input-group-text" id="basic-addon2">Precio Producto</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">URL Imagen </span>
  <input type="text" class="form-control" placeholder="URl de la imagen" aria-label="Username" aria-describedby="basic-addon1" name="img">
</div>

<button type="submit">Agregar Producto</button>

</form>