{{> header}}
<br>
<br>
<form onsubmit="enviarMensaje()">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Email</span>
  <input type="email" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre Producto" aria-describedby="basic-addon1"  name="nombre" id="email">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Cuentanos algo...</span>
  <input type="text" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre Producto" aria-describedby="basic-addon1"  name="nombre" id="mensaje">
</div>


<input type="submit" style="border: none; background-color: green; color:white">
</form>

<section id="contenedorChat">
<h2>Canal de chat</h2>
<article id="mensajesChat">

</article>
</section>