{{>header }} 

<br>
<br>
<form onsubmit="agregarProducto(this)" method="dialog">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Nombre Producto</span>
  <input type="text" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre Producto" aria-describedby="basic-addon1"  name="nombre" id="nombre">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Precio Producto</span>
  <input type="text" class="form-control" placeholder="Nombre del Producto" aria-label="Nombre Producto" aria-describedby="basic-addon1"  name="nombre" id="precio">
</div>


<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">URL Imagen </span>
  <input type="text" class="form-control" placeholder="URl de la imagen" aria-label="Username" aria-describedby="basic-addon1" name="img" id="img">
</div>

<button type="submit" style="border: none; background-color: green; color:white">Agregar Producto</button>

</form>

    <table class="table">
    <thead>   
        <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        </tr>
    <tbody id="productosLista">
    </tbody>
    </thead>
    </table>





